.supplies-container {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 100%;
  overflow: hidden;

  section {
    display: flex; 
    flex-direction: column; 
    border: 1px solid lightblue;
    margin: 20px 15px;
    align-items: center;
  }
}
