.tutorContainer {
  display: grid;
  grid-gap: 30px; 
  grid-template-columns:1fr 1fr 1fr;
  max-width: 100%;
  overflow: hidden;
  flex-direction: column-reverse;
  align-items: center;
}

.tutorCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 24px;
  min-width: 500px;
  max-width: 500px;
  overflow: hidden;
  border: 1px solid grey;
  border-radius: 5px;
  margin: 20px;

  .tutorImage {
    max-width: 250px;
    max-height: 250px;
    border: 1px solid grey;
    border-radius: 5px;
  }
}

// Mobile Styles
@media all and (max-width: 600px) {
  .tutorContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px
  }
  .tutorCard {
    min-width: 100%;
    max-width: 100%;
  }
}
