@import "./_variables";
@import "./_navigation";
@import "./components/index.scss";
@import "./components/_supplies.scss";
@import "./components/_math";
@import "./components/_reading";
@import "./components/_isee";
@import "./components/_science";

html body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 400;
  background-color: $background;
  margin: 0;
}
