@import "./_variables";
@import "./_navigation";
@import "./components/index.scss";

html body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 400;
  background-color: $background;
  margin: 0;
}
