:root {
  --primary: lightblue;
}

.btn {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif,
    sans-serif;
  font-weight: 400;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.5s ease;
}

.btn:hover {
  transform: translateY(-3px);
}

/*Button Colors and Styles */

.btn--primary--solid {
  background-color: var(--primary);
  color: var(--white);
  border: none;
}

/*Button Size */

.btn--medium {
  padding: 10 px 20px;
  font-size: 18px;
}
